<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC

"-//Hibernate/Hibernate Configuration DTD 3.0//EN"

"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">olocafe@2017</property>
<!-- 		<property name="hibernate.connection.password">root</property> -->

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/blue_pigeon</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="current_session_context_class">thread</property>
		<property name="current_session_context_class">org.hibernate.context.ManagedSessionContext</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
		<property name="hibernate.connection.pool_size">25</property>
		<property name="show_sql">false</property>

		<mapping class="org.bluepigeon.admin.model.BuilderProjectAmenitySubstages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectPropertyType" />
        <mapping class="org.bluepigeon.admin.model.BuilderFloorAmenity" />
        <mapping class="org.bluepigeon.admin.model.BuilderProject" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectApprovalInfo" />
        <mapping class="org.bluepigeon.admin.model.Locality" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectType" />
        <mapping class="org.bluepigeon.admin.model.BuilderFloorAmenitySubstages" />
        <mapping class="org.bluepigeon.admin.model.Builder" />
        <mapping class="org.bluepigeon.admin.model.BuilderCompany" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectPropertyConfiguration" />
        <mapping class="org.bluepigeon.admin.model.AreaUnit" />
        <mapping class="org.bluepigeon.admin.model.BuilderFlatStatus" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectLevel" />
        <mapping class="org.bluepigeon.admin.model.BuilderBuildingAmenityStages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectApprovalType" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectPaymentInfo" />
        <mapping class="org.bluepigeon.admin.model.BuilderSellerType" />
        <mapping class="org.bluepigeon.admin.model.State" />
        <mapping class="org.bluepigeon.admin.model.BuilderCompanyNames" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectAmenity" />
        <mapping class="org.bluepigeon.admin.model.HomeLoanBanks" />
        <mapping class="org.bluepigeon.admin.model.BuilderTaxType" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectBankInfo" />
        <mapping class="org.bluepigeon.admin.model.Country" />
        <mapping class="org.bluepigeon.admin.model.BuilderPaymentStages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectOfferInfo" />
        <mapping class="org.bluepigeon.admin.model.BuilderBuildingStatus" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectProjectType" />
        <mapping class="org.bluepigeon.admin.model.BuilderPaymentSubstages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectAmenityInfo" />
        <mapping class="org.bluepigeon.admin.model.BuilderGroup" />
        <mapping class="org.bluepigeon.admin.model.BuilderBuildingAmenitySubstages" />
        <mapping class="org.bluepigeon.admin.model.BuilderBuildingAmenity" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectPriceInfo" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectAmenityStages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectPropertyConfigurationInfo" />
        <mapping class="org.bluepigeon.admin.model.BuilderFlatAmenitySubstages" />
        <mapping class="org.bluepigeon.admin.model.BuilderProjectStatus" />
        <mapping class="org.bluepigeon.admin.model.BuilderFlatAmenity" />
        <mapping class="org.bluepigeon.admin.model.BuilderOverallProjectStagesAndSubStages" />
        <mapping class="org.bluepigeon.admin.model.City" />
        <mapping class="org.bluepigeon.admin.model.AdminUser" />
        <mapping class="org.bluepigeon.admin.model.BuilderPropertyType" />
        <mapping class="org.bluepigeon.admin.model.AdminUserRole" />
        <mapping class="org.bluepigeon.admin.model.BuilderFlatAmenityStages" />
        <mapping class="org.bluepigeon.admin.model.BuilderFloorAmenityStages" />
	</session-factory>

</hibernate-configuration>
