.navbar-header .nav>li>a {
    position: relative;
    display: block;
    padding: 0px 15px !important;
}



#error{
	color:red;
	parent-top:10px;
}
#perror{
	color:red;
	parent-top:10px;
}

textarea{


    background-color: #fff;

    border: 1px solid #e4e7ea;

    border-radius: 0;

    box-shadow: none;

    color: #565656;

    max-width: 100%;

    padding: 7px 12px;

    transition: all 300ms linear 0s;

}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {

    width: 252px !important;

    padding-left: 13px !important;

}

.bootstrap-select.btn-group .dropdown-menu {

padding-left: 12px;

}

.chart {

    position:relative;

    margin:1px;

    margin-left: 45px;

}

.btn11 {

    font-size: 15px !important;

    padding: .8rem 5rem !important;

}

canvas {

    display: block;

    position:absolute;

    top:0;

    left:0;

}

.chart span {

    color:#fff;

    display:block;

    line-height:100px;

    text-align:center;

    width:100px;

    font-family:sans-serif;

    font-size:20px;

    font-weight:100;

    margin-left:5px;

   

}



.projectsection{

    padding: 30px;

}

.logo img{

margin-top:-10px;

width:200px;

}

.left .bottom{

padding-top:80%;

}

.right .bottom{

padding-top:85%;

}



.image img{


    width: 370px;

}

.image {

    position:relative;

   

       margin-bottom: 30px;

    

    }

    .left h3{

   color:white;

   text-align:left;

    

    }

     .left h4{

   color:white;

    text-align:left;

    

    }

     .right h3{

   color:white;

   text-align:right;

    

    }

     .right h4{

   color:white;

    text-align:right;

    

    }

    .image .overlay {

     padding:40px;

    width:370px;

    height:100%;

    background:rgba(0,0,0,.5);

    

    position:absolute;

    top:0;

    left:0;

    display:inline-block;

    -webkit-box-sizing:border-box;

    -moz-box-sizing:border-box;

    box-sizing:border-box;

    text-align:center;

    color:white;

  

    font-size:20px;

}

@media screen and (min-width: 768px) {

.form{

padding:15% 25%;


}

.space{

padding: 20px 100px;

}

.block{

display: block;

}

.display{

display: inline;

    float: right;

    padding:7%;

    font-size: 20px;



}

.checkbox label {

    width: 100px;

    display: block;

    padding-left: 5px;

    position: relative;

}

}

@media screen and (max-width: 768px) {

.form{

padding:5% 5%;


}

.display{

display: inline;

   float: right;

padding:7%;



}



}

.center{

text-align: center;

}

.grey-box {

    background: #f2f2f2;

    padding: 25px;

    margin-bottom: 15px;

}

.liheader{
    text-decoration: none;
    background-color: #35baf6 !important; 
}