textarea{
	
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 0;
    box-shadow: none;
    color: #565656;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}
#error{
	color:red;
	text-align: left;
	parent-top:10px;
}
#perror{
	color:red;
	text-align: left;
	parent-top:10px;
}
@media screen and (min-width: 768px) {
.form{
	padding:15% 25%;
	
}
.space{
	padding: 20px 100px;
}
.block{
	display: block;
}
.display{
	display: inline;
    float: right;
    padding:7%;
    font-size: 20px;

}
.checkbox label {
    width: 100px;
    display: block;
    padding-left: 5px;
    position: relative;
}
}
@media screen and (max-width: 768px) {
.form{
	padding:5% 5%;
	
}
.display{
	display: inline;
   float: right;
padding:7%;

}

	}
.center{
	text-align: center;
}
.grey-box {
    background: #f2f2f2;
    padding: 25px;
    margin-bottom: 15px;
}