.navbar-header .nav>li>a {
    position: relative;
    display: block;
    padding: 0px 15px !important;
}
.inputbox{
	max-width: 145px !important;
	padding:5px;
}
.btn-sm{
	    margin: 0px 5px;
}

#error{
	color:red;
	parent-top:10px;
}
#perror{
	color:red;
	parent-top:10px;
}

textarea{


    background-color: #fff;

    border: 1px solid #e4e7ea;

    border-radius: 0;

    box-shadow: none;

    color: #565656;

    max-width: 100%;

    padding: 7px 12px;

    transition: all 300ms linear 0s;

}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {

    width: 210px !important;

    padding-left: 13px !important;

}

.bootstrap-select.btn-group .dropdown-menu {

padding-left: 12px;

}

.chart {

    position:relative;

    margin:1px;

    margin-left: 45px;

}

.btn11 {

    font-size: 15px !important;

    padding: .8rem 5rem !important;

}

canvas {

    display: block;

    position:absolute;

    top:0;

    left:0;

}

.chart span {

    color:#fff;

    display:block;

    line-height:100px;

    text-align:center;

    width:100px;

    font-family:sans-serif;

    font-size:20px;

    font-weight:100;

    margin-left:5px;

   

}



.projectsection{

    padding: 30px;

}

.logo img{

margin-top:-10px;

width:220px;

}

.left .bottom{

padding-top:80%;

}

.right .bottom{

padding-top:85%;

}



.image img{


    width: 100%;

}

.image {
    position:relative;
    margin-bottom: 30px;
    }

    .left h3{
   color:white;
   text-align:left;
	width: 220px;
    }

     .left h4{

   color:white;

    text-align:left;

    

    }

     .right h3{

   color:white;

   text-align:right;

    

    }

     .right h4{

   color:white;

    text-align:right;

    

    }

    .image .overlay {

     padding:40px;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.5);

    

    position:absolute;

    top:0;

    left:0;

    display:inline-block;

    -webkit-box-sizing:border-box;

    -moz-box-sizing:border-box;

    box-sizing:border-box;

    text-align:center;

    color:white;

  

    font-size:20px;

}

@media screen and (min-width: 768px) {

.form{

padding:15% 25%;


}

.space{

padding: 20px 100px;

}

.block{

display: block;

}

.display{

display: inline;

    float: right;

    padding:7%;

    font-size: 20px;



}

.checkbox label {

    width: 100px;

    display: block;

    padding-left: 5px;

    position: relative;

}

}

@media screen and (max-width: 768px) {

.form{

padding:5% 5%;


}

.display{

display: inline;

   float: right;

padding:7%;



}



}

.center{

text-align: center;

}

.grey-box {

    background: #24bcd3;

    padding: 25px;

    margin-bottom: 15px;

}

.liheader{
    text-decoration: none;
    background-color: #35baf6 !important; 
}


.new-dropdown{
	min-width : 100%;
	height : 500px;
}

@media (min-width: 768px)
{
.tab-content button{
	
    background: #00bfd6;
    color: #f2f2f2;
    border: none;
    margin: 2% 10% 1%;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 17px;
    text-align: -webkit-center !important;
    
}
}

@media (min-width: 992px)
{
	.right .bottom {
    padding-top: 228px;
}
.tab-content button{
	
    background: #00bfd6;
    color: #f2f2f2;
    border: none;
    margin: 2% 28% 1%;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 17px;
    text-align: -webkit-center !important;
    
}
	
.modal-lg {
	margin:5% !important;
    min-width: 90% !important;
    height:700px !important;
    	
}
.modal-lg img{
	width:100% !important;
	height:700px !important;
}
}