@CHARSET "UTF-8";
.selectize-control.single .selectize-input:after {
	border-color: #24bcd3 transparent transparent transparent !important;
}
.selectize-input {
    border: 1px solid #24bcd3 !important;
    padding: 14px 8px 3%!important;
}