@CHARSET "UTF-8";
@media only screen and (max-width: 768px) {
	.navbar-header .navbar-toggle {
	  float: right !important;
	 }
	.right-side-toggle{
	display:none !important;
	}
	.waves-effect {
	margin-right: 0px!important;
	}
	.logo img {
    margin-top: -2px !important;
    width: 147px !important;
   }
   .white-box .nav{
   display: inline-grid !important;
   
   }
   h4 {
   text-align: center;
   }
   .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
   
    padding-right: 0px!important;
    padding-left: 0px !important;
	}
	.col-3{
		
		max-width: 50% !important;
		min-width: 50% !important;
		margin-bottom: 10px !important;
	}
	.pull-right .btn-lg{
	width: 132px !important;
	padding: 9px 3px !important;
	font-size: 11px  !important;
	}
	.form-group .col-9 {
    min-width: 100% !important;
    max-width: 100%!important;
    flex: 0 0 52% !important;
	}
	input[type="checkbox"] {
   
    width: 35px!important;
	}
	input {
   
    margin-bottom: 5px!important;
	}
	.btn11 {
    border: none;
    font-size: 17px !important;
    padding: .5rem 3rem !important;
	}
	.m-b-15 {
	    margin-bottom: 15px !important;
	    display: none;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	    width: 231px !important;
	    padding-left: 2px !important;
	    margin-bottom: 8px;
	}
	.right .chart{
	display:none;

	}
	
	.right .bottom {
    padding-top: 2%;
	}
	input[type="file"] {
    padding: 0px !important;
    font-size: 10px !important;
	}
	.waves-effect {
	margin-bottom: 16px;
	}
	.checkbox {
    padding-left: 37px;
	 }
	 .tab .nav > li > a {
	    
	    padding: 4px 5px  !important;
	}
	
	.tabs-vertical.nav > li > a {
	    
	    padding: 9px 5px !important;
	}
	label {
	    font-weight: 300 !important;
	    font-size: 13px !important;
	}
	select.form-control:not([size]):not([multiple]) {
	   
	    margin-bottom: 5px !important;
	}
	.btn11 {
    border: none;
    font-size: 16px !important;
    padding: 0.5rem 5rem !important;
	 }
	.loginbgimg {
	    background-image: url("../plugins/images/loginbg.png");
	    background-size: 100% 100%;
	    height: 450px !important;
	    background-repeat: no-repeat;
	}
	waves-effect {
	font-size: 1rem  !important;
	
	}
	.btn-block {
    display: block;
    width: 63%;
	}
	.login-box {
    background: #fff;
    width: 400px;
    margin: 0% auto 0 !important;
     }
     
     .col-form-label {
    
    height: 50px;
	}
	.col-2 {
	 max-width: 30.667% !important;
	}
	.input-group-btn {
    padding: 4px 0px !important;
}
	}

@media only screen and (min-width: 768px) {
	
	.right-side-toggle{
	display:none !important;
	
	}
	
}



